.Home{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgb(0, 90, 255);
  color: white
}

.MainImgDiv{
  width: 100%;
  height: 32rem;
  background-image: url('../images/home.png');
  background-position: center;
  background-size: cover;
}

.MainImgDivContent{
  max-width: 100%;
  max-height: 100%;
  padding:  calc((32rem - (2*(2.4rem + 2vw) + 2%)) / 2) 0%;
}

.MainImgDivContent h1 {
  font-size: calc(1.5rem + 3.5vw);
  text-transform: capitalize;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1%;
}

.Home h2 {
  font-size: calc(1rem + 0.4vw);
  padding: 4% 5% 2% 5%;
  text-align: justify;
}

.Home-ul{
  padding: 1% 5% 2% 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(0.5rem + 0.8vw);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.Home-ul li{
  width: 30%;
  text-align: center;
  display: block;
  padding: 4px 0px 4px 0px;
  background-color: rgb(0, 0, 40);
}

.Home-ul a{
  color: white;
  display: block;
  height: 100%;
  font-size: calc(1rem + 0.4vw);
}