.Machines{
    width: 80%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 10%;
  }
  
  .Description{
    font-size: calc(1rem + 0.4vw);
    text-align: justify;
    margin: 1% 5% 1% 5%;
    font-weight: normal;
  }
  
  .MachinesTitles{
    margin-left: 3%;
    margin-right: 3%;
    font-weight: bolder;
    font-size: calc(1.25rem + 0.4vw);
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }
  
  .EnigmaModelTypeOne{
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0.15%;
    background-color: rgb(200, 200, 200);
    position: relative;
  }
  
  .EnigmaModelTypeTwo{
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0.15%;
    background-color: rgb(200, 200, 200);
    position: relative;
  }
  
  .EnigmaModelTypeThree{
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0.15%;
    background-color: rgb(200, 200, 200);
    position: relative;
  }
  
  .EnigmaModelTypeFour{
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0.15%;
    background-color: rgb(200, 200, 200);
    position: relative;
  }
  
  .Lines{
    width: 90%;
    margin: auto;
    border: 1px solid rgb(0, 0, 30);
    border-radius: 5px;
  }

  .LinesInternal{
    width: 90%;
    margin: auto;
    border: 1px solid rgb(0, 0, 30);
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .ThreeRotorsSelector{
    margin: calc(0.5rem + 0.4vw) 5% 0% 5%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ThreeRotorsSelector select{
    width: 16%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
  }
  
  .ThreeRotorsWheelSet{
    margin: 0% 5% calc(0.8rem + 0.4vw) 5%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .LabelRotors{
    margin: calc(0.8rem + 0.4vw) 5% 0% 5%;
    padding: 0% 2% 0% 2%;
    font-size: calc(0.8rem + 0.4vw);
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .LabelRotors label{
    width: 16%;
    height: fit-content;
    text-align: center;
  }
  
  .ThreeRotorsWheelSet select{
    width: 16%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
  }
  
  .FourRotorsSelector{
    margin: 1% 5% 0% 5%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .FourRotorsSelector select{
    width: 16%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
  }
  
  .FourRotorsWheelSet{
    margin: 0% 5% calc(0.8rem + 0.4vw) 5%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .FourRotorsWheelSet select{
    width: 16%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
  }
  
  .ReflectorDiv{
    margin: calc(0.8rem + 0.4vw) 5% calc(0.8rem + 0.4vw) 5%;
    padding: 0% 2% 0% 2%;
    font-size: calc(0.9rem + 0.4vw);
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ReflectorDiv select{
    width: 16%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
  }
  
  .MessageRequestResponse{
    margin: 2% 3% 2% 3%;
    padding: 0% 2% 0% 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .MessageRequestResponse textarea{
    resize: none;
    width: 100%;
    background-color: rgb(225, 225, 225);
    font-size: calc(1rem + 0.4vw);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
  }
  
  .MessageRequestResponse button{
    width: 100%;
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: calc(0.4rem + 0.1vw) 0% calc(0.4rem + 0.1vw) 0%;
    font-size: calc(0.7rem + 1vw);
    font-weight: bolder;
    margin: 0.5% 0% 0.5% 0%;
  }
  
  .MessageRequestResponse button:hover{
    background-color: rgb(90, 90, 90);
  }
  
  .MessageRequestResponse button:active{
    background-color: rgb(10, 10, 10);
  }
  
  .FivePlugsTitle{
    margin: calc(0.8rem + 0.4vw) 5% 0% 5%;
    padding: 0% 2% 0% 2%;
    font-size: calc(0.8rem + 0.4vw);
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .FivePlugsTitle label{
    width: 18%;
    height: fit-content;
    text-align: center;
  }
  
  .FivePlugsDiv{
    margin: 1% 5% calc(0.8rem + 0.4vw) 5%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .FivePlugsDiv div{
    width: 18%;
  }
  
  .FivePlugsDiv select{
    width: 50%;
    font-size: calc(1rem + 0.4vw);
    padding: calc(0.55rem + 0.1vw) 0% calc(0.55rem + 0.1vw) 0%;
    background-color: rgb(225, 225, 225);
    border: 1px solid;
    appearance: none;
    text-align: center;
  }
  
  .UKWDFivePlugsTitle{
    margin: 1% 5% 0% 5%;
    padding: 0% 2% 0% 2%;
    font-size: calc(0.8rem + 0.4vw);
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .PlugboardFull{
    margin: 1% 3% 0% 3%;
    padding: 0% 2% 0% 2%;
  }
  
  .UKWD{
    margin: 1% 3% 0% 3%;
    padding: 0% 2% 0% 2%;
  }
  
  .PlugboardFull label{
    width: 18%;
    text-align: center;
  }
  
  .UKWD label{
    width: 20%;
    text-align: center;
  }