.Home{
  width: 80%;
  min-height: 105%;
  background-color: white;
  position: absolute;
  left: 10%;
}

.Lines{
  width: 94%;
  margin: auto;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 5px;
}

.TextLines{
  margin: 1% 3% 1% 3%;
  font-size: 23px;
  text-align: center;
  font-weight: normal;
}

.SubTextLines{
  margin: 1% 3% 1% 3%;
  font-size: 21px;
  text-align: center;
  font-weight: normal;
}

.links{
  color: white;
}

.Machines{
  width: 80%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
}

.Description{
  font-size: 18px;
  text-align: justify;
  margin: 1% 5% 1% 5%;
  font-weight: normal;
}

.SubDescription{
  font-size: 16px;
  text-align: justify;
  margin: 1% 5% 1% 5%;
  font-weight: normal;
}

.MachinesTitles{
  margin-left: 3%;
  margin-right: 3%;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.EnigmaModelTypeOne{
  width: 80%;
  min-height: 105%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
}

.EnigmaModelTypeTwo{
  width: 80%;
  min-height: 105%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
}

.EnigmaModelTypeThree{
  width: 80%;
  min-height: 105%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
}

.EnigmaModelTypeFour{
  width: 80%;
  min-height: 105%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10%;
}

.LinesInternal{
  width: 90%;
  margin: auto;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ThreeRotorsSelector{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ThreeRotorsSelector select{
  width: 16%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.ThreeRotorsWheelSet{
  margin: 0% 5% 1% 5%;
  padding: 0% 2% 0% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LabelRotors{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LabelRotors label{
  width: 16%;
  text-align: center;
}

.ThreeRotorsWheelSet select{
  width: 16%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.FourRotorsSelector{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FourRotorsSelector select{
  width: 16%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.FourRotorsWheelSet{
  margin: 0% 5% 1% 5%;
  padding: 0% 2% 0% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FourRotorsWheelSet select{
  width: 16%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.ReflectorDiv{
  margin: 1% 5% 1% 5%;
  padding: 0% 2% 0% 2%;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ReflectorDiv select{
  width: 16%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.MessageRequestResponse{
  margin: 0% 5% 1% 5%;
  padding: 0% 2% 0% 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.MessageRequestResponse textarea{
  resize: none;
  width: 100%;
  background-color: rgb(245, 245, 255);
  font-size: 15px;
  border: 1px solid;
}

.MessageRequestResponse button{
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: rgb(0, 90, 255);
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

.FivePlugsTitle{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FivePlugsTitle label{
  width: 16%;
  text-align: center;
}

.FivePlugsDiv{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FivePlugsDiv div{
  width: 16%;
}

.FivePlugsDiv select{
  width: 50%;
  font-size: 14px;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(245, 245, 255);
  border: 1px solid;
}

.UKWDFivePlugsTitle{
  margin: 1% 5% 0% 5%;
  padding: 0% 2% 0% 2%;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.PlugboardFull{
  margin: 1% 3% 0% 3%;
  padding: 0% 2% 0% 2%;
}

.UKWD{
  margin: 1% 3% 0% 3%;
  padding: 0% 2% 0% 2%;
}

.PlugboardFull label{
  width: 16%;
  text-align: center;
}

.UKWD label{
  width: 20%;
  text-align: center;
}