.Navbar{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 90, 255);
    height: calc(2rem + 1vw);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Navlinks{
    width: fit-content;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.92rem + 0.4vw);
    display: flex;
    justify-content: space-around;
  }

  .links li:hover{
    background: rgb(50, 140, 255);
  }

  .links li{
    display: block;
    padding: calc(0.01rem + 0.6vw) calc(0.8rem + 0.8vw) calc(0.01rem + 0.6vw) calc(0.8rem + 0.8vw);
  }
  
  .Title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1rem + 1vw);
  }

  .links li ul{
    margin-top: calc(0rem + 0.5vw);
    padding: 1rem 0rem 1rem 0rem;
    font-size: calc(0.45rem + 1vw);
    font-weight: bolder;
    position: absolute;
    width: 100%;
    left: 0%;
    min-height: max-content;
    display: none;
    background: rgb(50, 140, 255);
  }

  .links li ul li{
    color: rgb(255, 255, 255);
    display: block;
    padding: calc(0.4rem + 0.1vw) calc(0.25rem + 0.1vw) calc(0.4rem + 0.1vw) calc(0.25rem + 0.1vw);
  }

  .links li:hover ul{
    display: block;
  }

  .links li:hover ul li:hover{
    background: rgb(90, 180, 255);
  }